table.schedule {
  background: white;
  border: 10px outset rgb(153, 0, 153);
  border-collapse: collapse;
  font-size: 0.75em;
  width: 100%;
}

table.schedule th,
table.schedule td {
  border: 1px solid gray;
}

table.schedule caption {
  caption-side: bottom;
  text-align: right;
}

table.schedule th.head,
table.schedule td.head {
  border: 5px double;
}

table.schedule td.data {
  border: 6px solid;
}
